PORT=5000
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/erp_inventory
# MONGO_URI=mongodb+srv://jitenderyadav330:HR91XsqJevT5C3Xi@abcd2.cajzft8.mongodb.net/?appName=ABCD2

MONGO_DB_NAME=abcd2
MONGO_USER=jitenderyadav330
MONGO_PASSWORD=HR91XsqJevT5C3Xi


NODE_ENV=development

HR91XsqJevT5C3Xi