PORT=5000
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/erp_inventory
# MONGO_URI=mongodb+srv://jitenderyadav330:HR91XsqJevT5C3Xi@abcd2.cajzft8.mongodb.net/?appName=ABCD2

MONGO_DB_NAME=abcd2
MONGO_USER=jitenderyadav330
MONGO_PASSWORD=HR91XsqJevT5C3Xi

JWT_SECRET=sjdfjJHHJkjKDSFSDUIYA875ayGAYTS76arAYS76Fars56rT7t6t87YAS85earsv876t7aYAS76rT7t6t87YAS85earsv87
JWT_REFRESH_SECRET=sdfjJHHJkjKDSFSDUIYA875ayGAYTS76arAYS7YYU6Fars56rT7t6t87YAS85earsv876t7aYAS76rT7t6t87YAS85earsv87


LOGIN_ATTEMPT_LIMIT=5
LOGIN_ATTEMPT_WINDOW_FIRST=5 # in minutes (1ST TIME)
LOGIN_ATTEMPT_WINDOW_SECOND=10 # in minutes (2ND TIME)
LOGIN_ATTEMPT_WINDOW_THIRD=20 # in minutes (3RD TIME)

LAST_PASSWORD_CHANGE_WINDOW=90 # in days











NODE_ENV=development